{% extends 'base.html' %}

{% block title %}Forum Home{% endblock %}

{% block content %}

	<h2>
		All recent threads
	</h2>
		
	<h3>
		Site Feedback
	</h3>
	
	{% for post in object_list %}
	
		{% if post.category.name == "Site Feedback" %}
			<ul>
				<li>
					<a href={{post.get_absolute_url}}> {{post.title}} </a>
				</li>
			</ul>
		{% endif %}
	
	{% endfor %}
	
	<h3>
		Off Topic
	</h3>
	
	{% for post in object_list %}
	
		{% if post.category.name == "Off Topic" %}
			<ul>
				<li>
					<a href={{post.get_absolute_url}}> {{post.title}} </a>
				</li>
			</ul>
		{% endif %}
	
	{% endfor %}
	
{% endblock %}