{% extends 'base.html' %}

{% block content %}

	<p> 
		<a href="{% url 'forum:post_list' %}"> <button type="button"> Go back </button> </a>
	</p>
	<p>
		<a href="{% url 'forum:post_edit' thread.pk %}"> <button type="button"> Edit thread </button> </a>
	</p>

	<h2>{{thread.title}}</h2>
	
	<p>Thread category: {{thread.category.name}} </p>
	
	<p>Posted on: {{thread.createdOn}}</p>
	
	<p>Last updated on: {{thread.updatedOn}}</p>
	
	<p style="text-indent:30px">{{thread.entry}}</p>
	
	{% for comment in thread.comments.all %}
	
	<p style="text-indent:60px">{{comment.createdOn}}</p>
	
	<p style="text-indent:60px">{{comment.entry}}</p>
	
	{% endfor %}
	
	<form method="POST">
		
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Post Comment">
		
	</form>
	
{% endblock %}