{% extends 'base.html' %}



{% block content %}

	<p> <a href="{% url 'post_list' %}"> <button type="button"> Go back </button> </a> </p>

	<h2>{{thread.title}}</h2>
	
	<p>Thread category: {{thread.category.name}} </p>
	
	<p>Posted on: {{thread.createdOn}}</p>
	
	<p>Last updated on: {{thread.updatedOn}}</p>
	
	<p style="text-indent:30px">{{thread.entry}}</p>
	
	<p style="text-indent:45px">{{thread.comments.createdOn}}</p>
	
	<p style="text-indent:45px">{{thread.comments.entry}}</p>
	
{% endblock %}