{% extends 'base.html' %}



{% block content %}

<a href="{% url 'forum:post_form' %}"> <button type="button"> Create Post </button> </a>

<h3> Your threads: </h3>

{% for category in object_list %} 
	
{% for thread in category.categories.all %}
			
	{% if user == thread.author %}
				
		<ul>
		<li>
			<a href={{thread.get_absolute_url}}> {{thread.title}} </a>
		</li>
		</ul>
					
	{% endif %}
			
{% endfor %}
		
{% endfor %}


{% for category in object_list %} 

<h3> {{category.name}} - {{category.description}} </h3>
	
	{% for thread in category.categories.all %}
		
	{% if thread.category == category %}
			
		{% if user != thread.author %}
				
			<ul>
				<li>
					<a href={{thread.get_absolute_url}}> {{thread.title}} </a>
				</li>
			</ul>
		{% endif %}
				
	{% endif %}
			
	{% endfor %}
		
{% endfor %}


{% endblock %}