{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>Author: {{article.author}}</p>
    <p>Category: {{ article.category.name }}</p>
    <p>Created on: {{ article.created_on }}</p> 
    <p>
        Updated on: {{ article.updated_on }}
        {% if user.is_authenticated and user == article.author.user %}
            <a href="{% url 'article-update' article.pk %}">Edit Article</a>
        {% endif %}
    </p>
    {% if article.header_image %}
        <img src="{{ article.header_image.url }}">
    {% endif %}

    <p>{{ article.entry }}</p>

    <h2> {{ 'Comments...' }}</h2>
    <a href="{% url 'comment-create' article.pk %}">Add a comment</a>
    <br><br>
    {% if article.comment_set.all %}
        {% for comment in article.comment_set.all %}
            <p>
                <h3>{{ comment.author }}</h3>
                Created on {{ comment.created_on }},
                Updated on {{ comment.updated_on }}
                {% if user.is_authenticated and user == article.author.user %}
                
        {% endif %}
            </p>
            <p>{{ comment.entry }}</p>
        {% endfor %}
    {% else %}
        <p>No Comments yet...</p>
    {% endif %}

    <p><a href="{% url 'article-list' %}">Back to Articles</a></p>
{% endblock %}