{% extends 'base.html' %}

{%block title%}All Articles{%endblock%}

{%block content%}
    <h1>All Articles</h1>
    
    {% if user.is_authenticated %}    
        <p>Logged in as {{ user.username }}</p>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <br>
        <a href="{% url 'article-create' %}">Create Article</a>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>   
        <a href="{% url 'register' %}">Register</a>
    {% endif %}


    {% for articlecategory in articlecategories %}
        <h2>{{ articlecategory.name }}</h2>
        <ul>
            {% for article in articlecategory.article_set.all %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            {% empty %}
                <li>No articles in this category.</li>
            {% endfor %}
        </ul>
    {% endfor %}
{%endblock%}