{% extends 'base.html' %}

{% load static %}

{% block title %}{{ product.name }} Details{% endblock %}
{% block content %}
    <h4>{{ product.name }}</h4>
    <ul>
        <li>
            {{ product.description }}
        </li>
        <li>
            Price: P{{ product.price }}
        </li>
        <li>
            Stock: {{ product.stock }}
        </li>
        <li>
            It is currently <b>{{ product.status }}</b>.
        </li>
    </ul>

    {% if request.user.is_authenticated %}
        {% if product.owner is request.user %}
            You cannot purchase a product you own. <a href="{{ product.get_absolute_url }}/edit">Do you want to edit it?</a>
        
        {% else %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add to cart">
            </form>
        {% endif %}
    {% endif %}

    You cannot purchase a product you own. <a href="{{ product.get_absolute_url }}/edit">Do you want to edit it?</a>
{% endblock %}