{% extends 'base.html' %}

{% load static %}

{% block title %}Merchstore Product List{% endblock %}
{% block content %}
<h2>
    Our Hobby Site Merchandise!
</h2>

{% if request.user.is_authenticated %}
    <a href="/merchstore/item/create">Sell your own product!</a>

    <h3>Your Products</h3>
    <ul>
        {% for product in object_list %}
            {% if product.owner is request.user.profile %}
                <li>
                    <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h3>All Products</h3>
    <ul>
        {% for product in object_list %}
        {% if product.owner is not request.user.profile %}
                <li>
                    <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% else %}
    <h3>All Products</h3>
    <ul>
        {% for product in object_list %}
        <li>
            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}